# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/bin
/CMakeFiles
/googletest-download
/googletest-build
/googletest-src
/lib

cmake_install.cmake
CMakeCache.txt



# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
